* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 100%;
    height: 44px;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin-bottom: 29px;
}

.logo {
    line-height: 0;
}

.logo img {
    height: 24px;
    width: 24px;
}

.options {
    display: none;
    height: 224px;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0px;
    padding-top: 16px;
    padding-left: 16px;
    background-color: #0000EC;
}

label {
    display: block;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
}

.closeIcon {
    display: none;
}

#menu {
    display: none;
}

#menu:checked .hamburguer {
    display: none;
}

#menu:checked ~ .options,
#menu:checked ~ label .closeIcon {
    display: inline-block;
    flex-direction: column; 
}

#menu:checked ~ label .hamburguer {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    color: #ffffff;
    cursor: pointer;
    line-height: 28px;
    margin-bottom: 24px;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}

a:active {
    color: #060A24;
    text-decoration: line-through;
    opacity: 56%;
}   

li a {
    color: #ffffff;
}

.title {
    margin: 0 16px 24px; 
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-weight: lighter;
    font-size: 36px;
    padding-right: 30px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}  

h1 span {
    text-decoration: line-through;
}

h1::after {
    display: inline-block;
    content: '.';
    color: #0000EC;
    font-size: 36px;
    height: 42px;
}

.desktop {
    display: none;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}

.title p {
    margin-bottom: 36px;
    line-height: 22px;
}

.button {
    font-size: 16px;
    width: 288px;
    height: 48px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    color: #060A24;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: auto;
    line-height: 48px;
}    

.button:hover{
    background-image: linear-gradient(to left, #0000FE , #00F0B8);
    color: white;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF , #0000A3);
    display: flex;
    z-index: 0;
}

.background .polygonTop {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 10vw;
}

.background .polygonBottom {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 10vw;
}

#episodes {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    margin: 0 5px 10px;
}

.pluginContainer {
    display: flex;
    flex-direction: column;
    padding: 64px 11px 143.5px;
}

.plugin {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
    height: 232px;
    margin-top: 11px;
    justify-items: center;
    border: none;
}

.phoneContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: -95.5px;
}

.phone {
    width: 320px;
    line-height: 0;
    margin: 0 -52px;
    z-index: 2;
    overflow: hidden;
}    

.phoneContainer img {
    margin-left: -20px;
    width: 360px;
    height: 519px;  
}    
.side {
    padding: 0 16px;
    margin-bottom: 54px;
}

h3 {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    line-height: 42px;
}
#us {
    margin-top: 27px;
    margin-bottom: 8px;
}

#interviews {
    margin-left: 16px;
    margin-bottom: 14px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: auto;
    line-height: 0;
}

#topics {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 37px;
}

.themesContainer img {
    height: 104px;
    width: 104px;
}

.themesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.themesContainer .themesIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 162px;
    margin-bottom: 49px;
}

.themesContainer .subtitle {   
    width: 288px;
    font-size: 24px;
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}  

.questionWrapper {
    width: 100%;
    padding: 64px 16px 67px;
    text-align: center;
}

.question {
    color: #ffffff;
    text-align: center;
    margin-bottom: 36px;
}

footer {
    padding: 24px 26px 31px;
    height: 121px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}    

footer i {
    color: #060A24;
    size: 18px;
    margin: 0 15px;
}

@media screen and (min-width: 768px) {

    header {
        position: fixed;
        height: 80px;
        padding: 0 100px;
        margin-bottom: 0;
        z-index: 999;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
    }

    .logo img {
        height: 36px;
        width: 36px;
    }

    .options {
        display: flex;
        height: 36px;
        width: auto;
        position: relative;
        align-items: center;
        top: 0;
        left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: #ffffff;
    }

    ul {
        flex-direction: row;
    }
    li a {
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 0;
        cursor: pointer;   
    }

    li {
        margin-bottom: 0;
        margin-left: 48px;
    }
    
    label {
        display: none;
    }

    a:link {
        text-decoration: none;
        color: #060A24;
    }
    li a:hover {
        text-decoration: line-through;
        font-weight: 500;
        color: #00F3BB;
    }
    li a:active {
        color: #060A24;
        text-decoration: line-through;
        opacity: 56%;
    }
    a:visited {
        text-decoration: none;
    }   

    .mobile {
        display:none;
    }

    .desktop {
        display: block;
    }
    
    .title {
        padding-top: 200px;
        margin-left: 200px;
        margin-right: 200px;
        align-items: flex-start;
    }

    .title h1 {
        font-size: 64px;
        padding: 0;
        line-height: 84px;
        margin-bottom: 0;
    }

    h1::after {
        font-size: 64px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }

    .title p {
        max-width: 628px;
        margin-bottom: 56px;
    }

    .title .button {
        width: 226px;
        height: 56px;
        line-height: 56px;
        margin-bottom: 5px;
    }

    .background {
        position: relative;
        height: auto;
    }

    #episodes {
        margin: 186px 100px 26px;
        font-size: 48px;
        line-height: 62px;
    }
    
    .pluginContainer {
        padding: 0 100px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .plugin {
        justify-content: space-between;
        margin-bottom: 160.6px;
    }

    iframe {
        max-width: 50%;
        height: 232px;
        margin-bottom: 72px;
        margin-top: 0;

    }

    iframe:nth-child(even) {
        padding-left: 36px;
    }

    iframe:nth-child(odd) {
        padding-right: 36px;
    }

    .phoneContainer {
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 200px;
        max-width: 1184px;
        justify-content: space-between;
        margin-top: -168.6px;
        margin-bottom: 64px;
    }

    .phone {
        width: 457.6px;
        height: 660px;
        margin: 0;
    }

    .phoneContainer img {
        margin-left: 0;
        width: 457.6px;
        height: 660px;
    }

    .phoneContainer p {
        max-width: 464px;
        height: auto;
        line-height: 24px;
    }

    .side {
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 48px;
        line-height: 62px;
    }

    #us {
        margin: 0 0 24px;
    }

    #interviews {
        margin-left: 200px;
        margin-bottom: 36px;
    }

    .gallery img {
        width: 480px;
        height: 364px;
        line-height: 0;
    }

    .gallery {
        margin-bottom: 64px;
    }

    #topics {
        margin: 0 0 69px 200px;
    }

    .themesContainer {
        padding: 0 200px;
        margin-bottom: 34px;
    }

    .themesContainer .themesIcon {
        width: 260px;
        margin-bottom: 0;
        height: 210px;
        justify-content: start;
    }

    .themesContainer .subtitle {   
        width: 220px;
        margin-top: 29px;
    }    

    .questionWrapper {
        padding: 213px 0 151px;
    }

    .background .questionWrapper .button {
        width: 345px;
        height: 56px;
        line-height: 56px;
    }

    footer {
        padding: 0 100px;
        height: 95px;
        flex-direction: row;
    }

    footer i {
        margin-left: 36px;
        margin-right: 0;
    }

}