* {
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
}
.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}